* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #b42ef7 0%, #2af4f3 100%);
    font-family: "Roboto", sans-serif;
}

section {
    display: block;
}

#header {
    width: 100%;
    height: 100vh;
}

.home .hero-content .header-container {
    overflow: hidden;
    padding: 10px 70%;
    max-width: 1300px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0;
}

nav .logo {
    width: 40px;
}

nav #sidemenu .header-li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-size: 18px;
    font-weight: 600;
}

nav #sidemenu .header-li a {
    color: #fff;
    text-decoration: none;
}

nav #sidemenu .header-li .header-link {
    position: relative;
}

nav #sidemenu .header-li .header-link::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav #sidemenu .header-li .header-link:hover::after {
    width: 100%;
}


nav .fas {
    display: none;
}

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.hero-content {
    text-align: center;
}

.hero-content h1 {
    font-size: 100px;
    font-weight: 800;
    margin-left: 10%;
    margin-top: 10px;
    position: relative;
    color: #f709a8;
    transition: 0.5s;
}

.hero-content h1:hover {
    -webkit-text-stroke: 5px rgb(247, 79, 196);
    color: transparent;
}

.hero-content .home-btn {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    border: 2px solid #53f5f5;
    padding: 14px 60px;
    border-radius: 50px;
    position: relative;
    margin-top: 30px;
}


/*---------------------ABOUT US STARTS---------------------*/
.about-section {
    margin-top: 50px;
}

.about-section .about-wrapper {
    padding: 25px;
    margin: auto;
    text-align: center;
}

.about-section .about-wrapper .heading h1 {
    color: #fff;
    font-size: 80px;
    margin-top: 80px;
}

.about-hero {
    width: 100%;
    height: 100%;
    margin-top: 80px;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 35px auto;
}

.about-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0 20px;
    z-index: 11;
}

.about-content-wrapper h2 {
    font-size: 45px;
    margin-bottom: 20px;
    color: #fff;
    animation: fadeInUp 5s linear;
    animation-timeline: view();
    animation-range: entry 100% cover 40%;
}

.about-content-wrapper p {
    margin: 10px 30px;
    width: 85%;
    font-size: 22px;
    color: #ddd;
}

.about-content-wrapper button {
    display: inline-block;
    background-color: rgba(253, 12, 84, 0.8);
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 30px;
    font-weight: 500;
    border: none;
    padding: 8px 30px;
    cursor: pointer;
}

.about-image {
    width: 500px;
    height: 500px;
    background-color: #ff014fff;
    border-radius: 10px;
    display: flex;
    width: 400px;
    margin-left: 5%;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    animation: fadeInRight 10s linear;
    animation-timeline: view();
    animation-range: entry 70% cover 40%;


}

.about-image .about-img {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


/*---------------------ABOUT US ENDS---------------------*/
/*---------------------SERVICES STARTS---------------------*/
.service-title {
    color: #fff;
    text-align: center;
    margin-top: 80px;
    font-size: 50px;
}

.services {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
    text-align: center;
    animation: fadeInRight 10s linear;
    animation-timeline: view();
    animation-range: entry 100% cover 40%;

}

.service-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    padding: 20px 20px;
    background: #fff;
    border-radius: 33% 80% 40% 30% / 30% 25% 70% 70%;
    cursor: pointer;
}

.service-card:hover {
    border-radius: 79% 21% 81% 19% / 58% 93% 74% 42%;
}

.service-card .service-icon {
    font-size: 35px;
    margin-bottom: 10px;
}

.service-card h2 {
    font-size: 28px;
    color: #ff014fff;
    margin-bottom: 28px;
}

.service-button {
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    background-color: #11e030;
    padding: 8px 12px;
    margin-right: 30px;
    margin-bottom: 10px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    letter-spacing: 1px;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}



/*---------------------SERVICES ENDS---------------------*/

/*---------------------DOG SALE STARTS---------------------*/
.dog-title {
    color: #fff;
    text-align: center;
    font-size: 50px;
    margin-top: 80px;
    animation: fadeInDown 5s linear;
    animation-timeline: view();
    animation-range: entry 100% cover 40%;
}

.dog-container {
    margin: 50px 60px;
    padding: 40px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.dog-container .dog-gallery {
    width: 200px;
    color: #ddd;
    margin: 15px 10px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.3),
        0 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 2px solid #838282;
    animation: fadeInLeft 10s linear;
    animation-timeline: view();
    animation-range: entry 70% cover 40%;
}

.dog-gallery img {
    width: 200px;
    height: 200px;
}

.dog-container .dog-gallery:hover {
    transform: scale(1.5);
    transition: 0.5s transform;
}

.dog-container h2 {
    font-size: 25px;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}


/*---------------------DOG SALE ENDS---------------------*/
/*---------------------TEAM STARTS---------------------*/
.team-section {
    background: linear-gradient(90deg, #b42ef7 0%, #2af4f3 100%);
    width: 100%;
    text-align: center;
    margin: 30px auto;
}

.team-heading {
    font-size: 50px;
    margin-top: 50px;
    color: #fff;
    margin-bottom: 60px;
    animation: fadeInUp 2s linear;
    animation-timeline: view();
    animation-range: entry 100% cover 80%;

}

.team-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team-member {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease;
    animation: fadeInUp 2s linear;
    animation-timeline: view();
    animation-range: entry 100% cover 50%;

}

.team-member:hover {
    transform: translateY(-15px);
    background: #dddbdb;
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.3),
        0 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 2px solid #838282;
}

.team-member img {
    border-radius: 50%;
    border: 4px solid #acfc0e;
    width: 150px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
}

.team-member h1 {
    font-size: 35px;
    color: #ff014fff;
    margin-bottom: 10px;
}

.team-member .title {
    font-size: 25px;
    color: #4908fc;
    margin-bottom: 10px;
}

.team-member .member-content {
    font-size: 17px;
    color: #000;
    line-height: 1.3;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/*---------------------TEAM ENDS---------------------*/
/*---------------------DOG ESSENTIALS STARTS---------------------*/
.shop .heading {
    text-align: center;
    justify-content: center;
    font-size: 50px;
    margin-top: 80px;
    margin: 0;
    font-size: 50px;
    color: #fff;
}

a {
    text-decoration: none;
}

.shop-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    background: linear-gradient(90deg, #b42ef7 0%, #2af4f3 100%);
}

.shop-content {
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.3),
        0 10px 10px rgba(0, 0, 0, 0.25);
    transition: 0.4s;
    background: #f2f2f2;
    animation: fadeInDown 5s linear;
    animation-timeline: view();
    animation-range: entry 30% cover 70%;

}

.shop-content:hover {
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.15),
        0 10px 10px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);

}

.shop-content img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
}

.shop-content p {
    text-align: center;
    font-size: 18px;
    color: #434444;
    padding-top: 0 8px;
}

.shop-content h6 {
    font-size: 25px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}

.shop-content ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

.shop-content li {
    padding-top: 5px;
}

.shop-content .fa {
    font-size: 25px;
    transition: 0.4s;
    margin: 3px;
}

.shop-content .checked {
    color: gold;
}

.shop-content .fa:hover {
    transform: scale(1.3);
    transition: 0.6s;
}

.shop-content button {
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    border: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
    cursor: pointer;
}

.buy-1,
.buy-2,
.buy-3,
.buy-4,
.buy-5,
.buy-6,
.buy-7,
.buy-8 {
    background: #212121;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/*---------------------DOG ESSENTIAL ENDS---------------------*/
/*---------------------TESTIONIAL STARTS---------------------*/
.testimonial-wrapper {
    min-height: 100vh;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.testimonial-wrapper h1 {
    font-size: 70px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    animation: fadeInRight 5s linear;
    animation-timeline: view();
    animation-range: entry 100% cover 40%;

}

.testimonial-wrapper h5 {
    font-size: 30px;
    text-align: center;
    font-weight: 200;
    margin-bottom: 80px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1300px;
    margin: 0 auto;
    gap: 10px;
    animation: fadeInRight 5s linear;
    animation-timeline: view();
    animation-range: entry 100% cover 60%;
}

.testimonial-card {
    width: 500px;
    height: 400px;
    border-radius: 15px;
    margin: 7px;
    padding: 20px 30px;
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    cursor: pointer;
}

.testimonial-card img {
    width: 100px;
    height: 100px;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: 20px;
}

.testimonial-card .testimonial-p {
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 25px;
    line-height: 2rem;
}

.testimonial-card span {
    color: #ff004fff;
    font-weight: 500;
}

.testimonial-card h2 {
    font-weight: 600;
    margin-bottom: 4px;
    font-size: 30px;
    color: #3a3939;
}

.testimonial-card h4 {
    color: #333;
    font-weight: 400;
    font-size: 20px;
    color: #ff014fff;
}

.testimonial-card i {
    font-size: 50px;
    position: absolute;
    bottom: 20px;
    right: 25px;
    color: #b2bec3;
}

.testimonial-card:hover {
    transform: scale(1.1);
    color: #333;
    background: #fff;
    z-index: 10000;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


/*---------------------TESTIONIAL ENDS---------------------*/
/*---------------------CONTACT US STARTS---------------------*/
.contact {
    background: linear-gradient(90deg, #b42ef7 0%, #2af4f3 100%);
    width: 100%;
    padding: 30px 0;
    margin: 30px auto;
    text-align: center;
    background: url(assets/max.jpg) no-repeat center center/cover;
}

.contact-heading {
    font-size: 50px;
    color: #fff;
    margin-bottom: 60px;
}

.contact .contact-container {
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container form {
    width: 700px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    flex-wrap: wrap;
}

.contact-container form input {
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;
}

.contact-container form input::placeholder {
    color: #333;
    font-weight: 600;
}

.contact-container form #Vehicle-number,
.contact-container form #mobile {
    margin-left: 20px;
}

.contact-container form textarea {
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #333;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    min-height: 180px;
    max-width: 600px;
    max-height: 180px;
}

.contact-container form textarea::placeholder {
    color: #333;
    font-size: 18px;
    font-weight: 600;
}

textarea::-webkit-scrollbar {
    width: 1em;
}

textarea::-webkit-scrollbar-thumbP {
    background-color: rgba(194, 194, 194, 0.713);
}

.contact-container form #button {
    border: none;
    background: #ff014fff;
    border-radius: 5px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    width: 250px;
    padding: 0;
    margin-left: 50px;
    margin-bottom: 30px;
    transition: 0.2s;
    display: flex;
}

.contact-container form #button:hover {
    opacity: 0.6;
}

/*---------------------CONTACT US ENDS---------------------*/
/*---------------------FOOTER STARTS---------------------*/
footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    position: relative;
    border-radius: 30px 30px 0 0;
    width: 100%;
    min-height: 300px;
    padding: 3rem 1rem;
}

.footer-container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: 1.2px;
}

.footer-container .footer-logo {
    width: 80px;
    height: 100px;
    border-radius: 10px;
}

.footer-container .footer-container-pa {
    font-size: 20px;
    font-weight: 900;
    margin: 10px 0;
    color: #ff014fff;
    justify-content: center;
}

.footer-container .footer-container-p {
    font-size: 13px;
    margin: 10px 0;
    color: #fff;
    justify-content: center;
}

.footer-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-col {
    min-width: 250px;
    color: #fff;
    padding: 0 2rem;
}

.footer-col h3 {
    color: #ff014fff;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    font-weight: 800;
}

.footer-col h3::after {
    content: '';
    height: 3px;
    width: 0px;
    background-color: #ff014fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

.footer-col h3:hover::after {
    width: 30%;
}

.footer-col .footer-social a i {
    color: #ff014fff;
    margin-top: 2rem;
    margin-right: 5px;
    font-size: 25px;
    transition: 0.3s ease;
    text-decoration: none;
}

.footer-col .footer-social a i:hover {
    transform: scale(1.5);
    filter: grayscale(25px);
}

.footer-col .footer-links .footer-a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin-bottom: 5px;
    position: relative;
    transition: 0.3s ease;
    line-height: 1.5;
    font-size: 13px;
}

.footer-col .footer-links .footer-a::before {
    content: '';
    height: 16px;
    width: 3px;
    position: absolute;
    top: 5px;
    left: -10px;
    background-color: #ff014fff;
    transition: 0.5s ease;
    opacity: 0;
}

.footer-col .footer-links .footer-a:hover::before {
    opacity: 1;
}

.footer-col .footer-links .footer-a:hover {
    transform: translateX(-8px);
    color: #fff;
}

.footer-col .contact-details {
    display: inline-flex;
    justify-content: space-between;
}

.footer-col .footer-contact-details i {
    margin: 5px auto;
    padding: 0 5px;
}

.footer-col .footer-contact-details .footer-p {
    margin-left: 40px;
    margin-top: -30px;
    font-size: 13px;
    line-height: 2rem;
}

.copy {
    color: #fff;
    margin-top: 30px;
    font-size: 11px;
}

/*---------------------FOOTER ENDS---------------------*/

/*---------------MQ-------------------*/
@media (min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }

}

@media (max-aspect-ratio: 16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}

@media only screen and (max-width:1200px) {
    .home .hero-content .header-container {
        padding: 10px;
    }

    nav .fas {
        display: block;
        font-size: 20px;
        background-color: #ff004f;
        padding: 10px;
        color: #fff;
    }

    nav #sidemenu {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
        overflow: hidden;
    }

    nav #sidemenu .header-li {
        display: block;
        margin: 25px;
    }

    nav #sidemenu .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .hero-content .home-btn {
        margin-top: 80px;
    }

    .about-hero {
        flex-direction: column-reverse;
    }

    .about-container {
        width: 90%;
        flex-direction: column;
        margin: 0px;
    }

    .about-image {
        width: 50%;
        margin-bottom: 30px;
        margin: 10px 0;
    }

    .about-content-wrapper {
        margin-top: 40px;
        width: 90%;
    }

    .about-content-wrapper h2 {
        font-size: 38px;
        margin-left: 40px;
    }

    .about-content-wrapper p {
        font-size: 20px;
        margin-left: 30px;
        margin-bottom: 20px;
    }

    .about-content-wrapper button {
        font-size: 15px;
        margin-left: 50px;
        padding: 8px 16px;
    }

    .services {
        display: flex;
        flex-direction: column;
    }

    .service-card {
        width: 60%;
        display: flex;
        margin: 20px 0px;
    }

    .shop-content {
        width: 45%;
    }

    .cards {
        width: 90%;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .testimonial-card {
        margin: 35px;
        width: 600px;
        height: 300px;
    }

    .testimonial-card .testimonial-p {
        font-size: 20px;
    }

    .testimonial-card h2 {
        font-size: 35px;
    }

    .testimonial-card h4 {
        font-size: 25px;
    }

    .contact-container form {
        margin-top: 40px;
    }

    .contact-container form input {
        width: 200px;
        margin-left: 60px;
    }

    .contact-container form textarea {
        min-width: 400px;
        margin-left: 60px;

    }

    .contact-container form #button {
        margin-right: 100px;
    }

    .footer-row {
        flex-direction: column;
    }

    .footer-col {
        width: 100%;
        text-align: left;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width:768px) {
    .hero-content h1 {
        font-size: 80px;
        margin-top: 100px;
        margin-left: 5%;
    }

    .hero-content .home-btn {
        padding: 10px 30px;
        margin-top: 80px;
    }

    .about-image {
        height: 400px;
        width: 40%;
    }

    .service-title {
        font-size: 40px;
    }

    .services {
        display: flex;
        flex-direction: column;
    }

    .service-card {
        width: 65%;
        display: flex;
        margin: 20px 0px;
    }

    .team-heading {
        font-size: 40px;
    }

    .team-container {
        width: 600px;
        margin-left: 50px;
    }

    .team-container .title {
        font-size: 20px;
    }

    .team-container .member-content {
        font-size: 15px;
    }

    .shop-content {
        width: 60%;
    }

    .testimonial-wrapper h1 {
        font-size: 50px;
    }

    .testimonial-wrapper h5 {
        font-size: 30px;
    }

    .cards {
        width: 60%;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .testimonial-card {
        margin: 35px;
        width: 400px;
        height: 350px;
    }

    .testimonial-card .testimonial-p {
        font-size: 20px;
    }

    .testimonial-card h2 {
        font-size: 28px;
    }

    .testimonial-card h4 {
        font-size: 18px;
    }

    .contact-container form {
        margin-top: 20px;
        width: 60%;
        height: 500px;
    }

    .contact-container form input {
        width: 300px;
        margin-left: 20px;
        margin-top: 5px;
    }

    .contact-container form textarea {
        min-width: 300px;
        margin-left: 20px;

    }

    .contact-container form #button {
        margin-right: 100px;
        height: 30px;
    }

    .footer-row {
        flex-direction: column;
    }

    .footer-col {
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
    }

    .footer-col .contact-details i,
    .footer-col .contact-details p {
        margin-right: 30px;
    }


}

@media  only screen and (max-width:600px) {
    .hero-content h1 {
        font-size: 50px;
        margin-top: 150px;
    }

    .hero-content .home-btn {
        font-size: 13px;
        margin-top: 80px;
    }

    nav #sidemenu .header-li .header-link {
        font-size: 13px;
    }

    .about-section .about-wrapper .heading h1 {
        font-size: 65px;
    }

    .about-image {
        height: 300px;
        width: 40%;
        margin-left: 20%;
    }

    .about-content-wrapper {
        width: 100%;
    }

    .about-content-wrapper h2 {
        font-size: 23px;
    }

    .about-content-wrapper p {
        font-size: 16px;
        width: 100%;
    }

    .team-heading {
        font-size: 40px;
    }

    .team-container {
        width: 300px;
    }

    .team-member h1 {
        font-size: 30px;
    }

    .team-member .title {
        font-size: 22px;
    }

    .team-member .member-content {
        font-size: 13px;
    }

    .cards {
        width: 100%;
    }

    .shop .heading {
        font-size: 40px;
    }

    .testimonial-card {
        width: 300px;
        height: 300px;
    }

    .testimonial-card .testimonial-p {
        font-size: 15px;
    }

    .testimonial-card h2 {
        font-size: 23px;
    }

    .testimonial-card h4 {
        font-size: 13px;
    }

    .contact-heading {
        font-size: 40px;
    }

    .contact-container form {
        margin-top: 30px;
        width: 60%;
        height: 500px;
    }

    .contact-container form input {
        width: 200px;
        margin-left: 20px;
        margin-top: 5px;
        font-size: 13px;
    }

    .contact-container form textarea {
        min-width: 200px;
        margin-left: 20px;
    }

    .contact-container form #button {
        height: 30px;
        font-size: 13px;
        margin-right: 50px;

    }
}